.cardProjeto {
  width: 25rem;
  border-radius: .8rem;
  height: 28rem;
  background-color: #1e222e;
  transition: .1s;
  position: relative;
}

.cardProjeto:hover {
  transform: translateY(-.3rem);
  box-shadow: rgba(0, 0, 0, 0.274) 0px 5px 2px;
}

.cardGradiente {
  height: 40%;
  border-radius: .8rem;
  background: #48f2b9;
  background: linear-gradient(50deg, #208365 0%, #5ff3c7 100%);
}

.icone {
  background: #48f2b9;
  background: linear-gradient(50deg, #268a6c 0%, #5ff3c7 100%);
  width: 3.5rem;
  padding: 1rem;
  height: 3.5rem;
  color: #1e222e;
  position: absolute;
  border-radius: 50%;
  top: 30%;
  left: 5%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 5px;
}

.containerCardProjeto {
  padding: 1.2rem;
}

.tituloProjetos {
  font-size: 1.8rem;
  font-weight: 300;
}

.sobreCard {
  font-size: 1.4rem;
  line-height: 2.4rem;
}