.containerContatos{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.containerContatos p{
  width: 60%;
  line-height: 5rem;
  font-size: 1.8rem;
  text-align: center;
}

.linksContatos{
  display: flex;
  gap: 2.4rem;
  flex-wrap: wrap;
}