.habilidades {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-flow: column;
  height: 100vh;
  width: 100%;
}

.habilidades h2 {
  font-size: 2.8rem;
  font-weight: bold;
}

.minhasHabili {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.2rem;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #171b24;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 120%;
  left: 50%;
  margin-left: -70%;
  font-size: 1.6rem;
  opacity: 0;
  transition: opacity 0.3s;
  box-shadow: hsl(162, 74%, 53%) 0px 2px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.iconeHabi {
  transition: .1s;
  background: #48f2b9;
  background: linear-gradient(50deg, hsl(162, 57%, 35%) 0%, #5ff3c7 100%);
  width: 4.6rem;
  padding: 2.4rem;
  height: 3.5rem;
  color: #1e222e;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 5px;

  &:hover {
    transform: translateY(-3px);
  }
}