.sobre {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1.2rem;
  height: 100vh;
  padding: 1.2rem;
}

.imgPerfil {
  width: 35rem;
  border-radius: 50%;
  box-shadow: 1rem 1rem 5rem #00000086;
}

.sobreConteudo {
  width: 50%;

}

h2 {
  font-size: 2.8rem;
  color: white;
}

p {
  font-size: 1.8rem;
  color: white;
  line-height: 4rem;
}